body{
    background-color: #032148;
    width: 100%;
    margin: 0;
    font-family: Calibri, sans-serif;
}

main{
        background-color: #F6F6F8;
}

footer{
    color: white;
    text-align: center;
}

h1{
    margin: 5px;
}

.hero {
    background-image: url("images/background_stockphoto.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% center;
    height: 90vh;
}

.heroText{
    color: white;
}
.headerBar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 10px 10px 10px 10px;
    width: 100%;
}

.logo{
    display: inline-flex;
    align-items: center;
    font-size: 18pt;
    color: white;
    cursor:default;
}

.logo.img{
    width: 40px;
    height: 30px;
}

.menuItems{
    margin: 0px 60px;
    color: white;
}

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    height: 32px;
    padding: 0 15px;

    color: white;
    text-decoration: none;
    cursor: pointer;

    transition: 0.2s;
}

.btn.orange{
    border-radius: 5px;
    border: 1px solid #C37433;
    font-style: bold;
    background-color: #FD6F00;
}

.btn.orange.freeQuote{
    margin: 15px;
}

.btn.learnMore{
    border-color: white;
    border-radius: 15px;
}

.btn:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

.content{
    display: flex;
    justify-content: center;
    text-align: center;
    gap:1px;
    color: #1C3660;
    font-size: 17pt;
}


.ourServices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.ourServices.line{
    width: 100px;
    height: 0px;
    margin: 15px;
    color: lightgrey;
}

.ourServices.text{
    font-size: 300px;
}

.highlights{
    font-size: smaller;
}

.tile{
    background-color: white;
    text-align: center;
    width: 190px;
    height: 185px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px lightgrey;
}

.icon{
    margin: 12px;
    width: 50px;
    height: 40px;
}