body{
    background-color: white;
    width: 100%;
    margin: 0;
    font-family: Calibri, sans-serif;
}

main{
        background-color: #F6F6F8;
        text-align: center;
        align-items: center;
}

footer{
    background-color: #1C3660;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

h1{
    margin: 5px;
}

.hero {
    background-image: url("images/background_stockphoto.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroContent {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 80px;
}

.heroText{
    color: white;
     max-width: 500px;
}
.headerBar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 10px 10px 10px 10px;
    width: 100%;
}

.logo{
    display: inline-flex;
    align-items: center;
    font-size: 18pt;
    color: white;
    cursor:default;
}

.logo img{
    width: 40px;
    height: 30px;
}

.menuItems{
    margin: 0px 60px;
    color: white;
}

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    height: 32px;
    padding: 0 15px;

    color: white;
    text-decoration: none;
    cursor: pointer;

    transition: 0.2s;
}

.btn.orange{
    border-radius: 5px;
    border: 1px solid #C37433;
    font-weight: bold;
    background-color: #FD6F00;
}

.btn.orange.freeQuote{
    margin: 15px;
}

.btn.learnMore{
    border-color: white;
    border: 1px solid white;
    border-radius: 20px;
}

.btn:hover{
    background-color: rgba(128, 128, 128, 0.5);
}

.sectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.headline{
    display: flex;
    justify-content: center;
    text-align: center;
    gap:1px;
    color: #1C3660;
    font-size: 17pt;
        margin: 3px 0px 15px 0px;
}

.headline.subtext{
    font-size: 15pt;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.content.text{
    font-size: 23px;
}

.highlights{
    font-size: smaller;
}

.tile{
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

.tile.flat{
    background-color: #F6F6F8;
    width: 250px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: none;
}

.icon{
    margin: 12px;
    width: 50px;
    height: 40px;
}

.ourServices{
    margin: 40px 0px 0px 0px;
    padding: 15px 0px 0px 0px;
}

.whyChooseUs{
    margin: 40px 0px 0px 0px;
    padding: 15px 0px 0px 0px;
    background-color: white;
}

.testimonials{
    display: block;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}